*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

@mixin css3($property,$value){
  @each $prefix in -webkit-,
  -moz-,
  -ms-,
  -o-,
  ''{
    #{$prefix}#{$property}:$value;
  }
}
// Positioning stuff
@mixin position($position,$l:null,$t:null,$r:null,$b:null,$z:99) {
  position: $position;
  @if($l){
    left: $l;
  }
  @if($t){
    top:$t;
  }
  @if($r){
    right: $r;
  }
  @if($b){
    bottom: $b;
  }
  z-index: $z;
}
@mixin box($dis:block,$w:false,$h:false){
  @if $dis!=block{
    display: $dis;
  }
  @if $w{
    width:$w;
  }
  @if $h{
    height:$h;
  }
}

.video-player{
  position:relative;
  //display:inline-block;
  svg{
    path{
      fill:white;
    }
  }

  &.vp-fullscreen{
    .video-wrap{
      width:100%;
      height:100%;

      video{
        height:100%;
      }
    }
  }
}
.video-wrap{
  video{
    display:block;
    width:100%;
    height: auto;
    max-width: 100%;
  }
}
.player-tips{
  @include position(absolute,0,0,null,null,8);
  @include box(block,100%,100%);

  .playing,
  .replaying{
    cursor:pointer;
    @include position(absolute,0,0,0,0,1);
    @include box(none,50px,50px);
    margin:auto;
    background-color:black;

    svg{
      @include position(absolute,0,0,0,0);
      width:30px;
      height:30px;
      margin:auto;
    }
  }
  .waiting{
    @include position(absolute,0,0,0,0,2);
    @include box(none,50px,50px);
    margin:auto;
    text-align: center;
    vertical-align: middle;
    background-color:#000;
    img{
      margin-top:10px;
      -webkit-animation:rotate 3s linear 0s infinite;
      animation:rotate 2s linear 0s infinite;
    }
  }
  .warning{
    @include position(absolute,50%,50%,null,null,3);
    @include box(none,90px,130px);
    margin-left:-45px;
    margin-top:-65px;
  }
}
.player-controls{
  @include position(absolute,0,null,null,0,9);
  display:flex;
  align-items: center;
  width:100%;
  height:40px;
  //background-color:rgba(0,0,0,.5);
  //background-color:transparent;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAYAAAA/tpB3AAAAaklEQVQImQXBIQ6CAAAAwCOYaCQq1Uy10810goVgoRAsBgPFYDAQDASCG4GNzY2NMYPjTd5BADsIIYIYEthDCgfI4Ag5FHCCEs5QQQ0XuMINGrjDA57Qwgs66OENA4wwwQdmWGCFL/xg+wNVVBN0BYgYPAAAAABJRU5ErkJggg==') repeat-x bottom;
  font-size: 10px;
  color: white;

  .controls-left,
  .controls-right{
    display:flex;
    width:75px;
    align-items: center;

    >div{
      margin-left:7px;
    }
    .switch,
    .mute-btn,
    .fullscreen-btn{
      cursor:pointer;
      width:20px;
      height:20px;
      svg[class*=icon]{
        display:none;
      }
    }
    .play svg.icon-play,
    .pause svg.icon-pause,
    .stop svg.icon-stop,
    .replay svg.icon-replay,
    .mute-off svg.icon-music-off,
    .mute-on svg.icon-music-on,
    .fullscreen-on svg.icon-fullscreen-on,
    .fullscreen-off svg.icon-fullscreen-off{
      display:block;
    }
  }

  .controls-right{
    padding-left:5px;
    width:100px;
  }

  .process-bar{
    cursor: pointer;
    position:relative;
    flex: auto;

    .process-bg{
      position:relative;height:3px;width:100%;;
      //background-color:#141414;
      background-color:hsla(0,0%,100%,.2);
    }
    .process-buffer{
      position:absolute;height:3px;width:0;left:0;top:0;
      //background-color:#2c2c2c;
      background-color:hsla(0,0%,100%,.3);
    }
    .process-line{
      position:absolute;height:3px;width:0;left:0;top:0;
      //background-color:#9b9b9b;
      background-color:#00a1d6;
    }
  }
}

@keyframes rotate {
  0%{
    -webkit-transform:rotate(0deg);
  }
  100%{
    -webkit-transform:rotate(360deg);
  }
}